## useDynLib(mt)

### exported functions

export(
accest, binest, maccest, mbinest, valipars, trainind, classifier, boot.err, 
dat.sel, preproc, pcalda, plslda, plsc, osc, osc_wold, osc_sjoblom, osc_wise,
predict.osc, mc.anova, mc.fried, mc.norm, tune.plsc, tune.plslda, tune.pcalda,

fs.rf, fs.rfe, fs.snr, fs.welch, fs.wilcox, fs.anova, fs.auc, fs.kruskal, 
fs.relief, fs.bw, get.fs.len, feat.freq, feat.rank.re, feat.mfs, frankvali,
frank.err, fs.pls, fs.plsvip, fs.plsvip.1, fs.plsvip.2, fs.pca, grpplot,
pcaplot, pca.outlier, pca.outlier.1, feat.mfs.stats,

panel.elli, panel.elli.1, panel.smooth.line, feat.agg, save.tab, list2df, 
un.list,shrink.list, fs.rf.1, fs.cl, fs.cl.1, aam.cl,aam.mcl, cor.cut,
cor.hcl, cor.heat, preproc.sd, preproc.const, feat.mfs.stab,
combn.pw, cl.rate, cl.perf, cl.roc, cl.auc, corrgram.circle,
corrgram.ellipse, pval.reject, pval.test, pca.comp, pca.plot, cor.heat.gram,
pca_plot_wrap, lda_plot_wrap, lda_plot_wrap.1, pls_plot_wrap, hm.cols, 
mv.zene, mv.fill, mv.stats, df.summ, vec.summ, vec.summ.1, stats.vec, 
stats.mat, mdsplot, mds_plot_wrap, panel.outl

)

### register S3 methods

S3method(summary, accest)
S3method(summary, maccest)
S3method(summary, plslda)
S3method(summary, plsc)
S3method(summary, pcalda)
S3method(summary, osc)
S3method(summary, frankvali)

S3method(plot, accest)
S3method(plot, maccest)
S3method(plot, plslda)
S3method(plot, plsc)
S3method(plot, pcalda)
S3method(boxplot, maccest)
S3method(boxplot, frankvali)

S3method(print, accest)
S3method(print, maccest)
S3method(print, summary.accest)
S3method(print, summary.maccest)
S3method(print, plslda)
S3method(print, plsc)
S3method(print, pcalda)
S3method(print, osc)
S3method(print, summary.plslda)
S3method(print, summary.plsc)
S3method(print, summary.pcalda)
S3method(print, summary.osc)
S3method(print, frankvali)
S3method(print, summary.frankvali)

S3method(predict, plslda)         
S3method(predict, plsc)         
S3method(predict, pcalda)         
S3method(predict, osc)         

S3method(accest, default)
S3method(accest, formula)

S3method(maccest, default)
S3method(maccest, formula)

S3method(plslda, default)
S3method(plslda, formula)

S3method(plsc, default)
S3method(plsc, formula)

S3method(pcalda, default)
S3method(pcalda, formula)

S3method(osc, default)
S3method(osc, formula)

S3method(frankvali, default)
S3method(frankvali, formula)

import(stats)
import(graphics)
importFrom("randomForest", randomForest, importance)
importFrom("e1071", svm, classAgreement)
# import(pls, except = loadings)
importFrom("pls", plsr, mvr, oscorespls.fit, simpls.fit)
importFrom("utils", "combn", "flush.console", "stack", "write.table")
importFrom("grDevices", "col2rgb", "colorRampPalette", "rgb")
importFrom("methods", hasArg)
importFrom("MASS", ldahist, ginv, lda, eqscplot)
importFrom("class", knn)
importFrom("ellipse", ellipse)
importFrom("grid", gpar, grid.polygon, grid.circle)
importFrom("latticeExtra", dendrogramGrob)
importFrom("lattice",
           xyplot,
           levelplot,
           stripplot,
           bwplot,
           densityplot,
           dotplot,
           splom,
           histogram,
           panel.xyplot,
           panel.levelplot,
           panel.fill,
           panel.loess,
           panel.lmline,
           panel.polygon,
           panel.superpose,
           panel.abline,
           panel.points,
           panel.histogram,
           panel.mathdensity,
           panel.text,
           panel.grid,
           ltext,
           do.breaks,
           level.colors,
           trellis.par.get,
           trellis.par.set
           )
